/BigData-HW3.pdf
/BigData-HW3.zip
/HW03.ipynb
/HW03_401131053.zip
/MNIST.csv
/MNIST_CSV.zip
/MNIST_data
/P2
/P3
/RecommenderSystem.ipynb
/Report.odt
/Report.pdf
/SingularValueDecomposition.ipynb
/hw3_p3_bd.ipynb
/mnist.csv
/p2.ipynb
/user_items.txt